# [파이썬에서 사용하는 방법]

In [1]:
import sqlite3

1. DB에 접속(SQLite에서 new database를 생성한다. test.db)
2. 테이블하고 내가 작업할 영역을 선택한다.
3. mysql에 접속하기 위해 ip address와 hostname port번호 username password 같은 것이 필요하다.

# <span style='color:teal'>1. 데이터베이스 접속</span>

In [2]:
conn = sqlite3.connect('./test.db')    # 1. DB에 접속
#conn = sqlite3.connect(':memory:')    # 메모리 DB 접속(일회성)
# 메모리에 올리면서 서버에서 데이터를 가져와서 메모리에 작업하고 
#다 하고 메모리에 있는것을 서버로 올리는 것

# <span style='color:teal'>2. 테이블 생성</span>

In [3]:
cur = conn.cursor() # 2. 테이블하고 내가 작업할 영역을 선택한다. connection을 만들고 cursor
cur.execute('CREATE TABLE IF NOT EXISTS Eagles \
    (back_no INT NOT NULL, \
     name TEXT, \
     position TEXT, \
     hands TEXT, \
     highschool TEXT, \
     height INT, \
     PRIMARY KEY(back_no));')

# <span style='color:teal'>3. 데이터 삽입</span>

In [4]:
cur = conn.cursor()
cur.execute("INSERT INTO Eagles VALUES \
    (1, '하주석', '내야수', '우투좌타', '신일고', 184), \
    (28, '양성우', '외야수', '우투좌타', '충암고', 177);")

IntegrityError: UNIQUE constraint failed: Eagles.back_no

# <span style='color:teal'>4. 변경사항 저장</span>

In [5]:
conn.commit()

# <span style='color:teal'>5. 데이터 삽입(파일에서 읽어서 데이터베이스에 쓰기)</span>

In [6]:
import pandas as pd
players = pd.read_csv('./players.csv', encoding='EUC-KR')
players

   back_no   name position   hands highschool  height
0       17  '김범수'     '투수'  '좌투좌타'    '천안북일고'     181
1       38  '안영명'     '투수'  '우투우타'    '천안북일고'     183
2       36  '장민재'     '투수'  '우투우타'    '광주제일고'     184
3       13  '최재훈'     '포수'  '우투우타'      '덕수고'     178
4       52  '김태균'    '내야수'  '우투우타'    '천안북일고'     185
5        7  '송광민'    '내야수'  '우투우타'      '공주고'     184
6       50  '이성열'    '내야수'  '우투좌타'     '순천효고'     185
7       43  '정은원'    '내야수'  '우투좌타'      '인천고'     177
8        8  '정근우'    '외야수'  '우투우타'      '부산고'     172
9       30   '호잉'    '외야수'  '우투좌타'      '외국고'     190

In [8]:
cur = conn.cursor()
sql = 'INSERT INTO Eagles VALUES (?, ?, ?, ?, ?, ?);'
# 밑에 sql의 자리에 그대로 넣어도 되지만 보통은 이렇게 따로 만들어서 해놓는다.
# 프로그램에서 물음표 값을 채워넣는다.

for i in range(10):
    cur.execute(sql, (int(players.iloc[i,0]), 
                      players.iloc[i,1], players.iloc[i,2], 
                      players.iloc[i,3], players.iloc[i,4], 
                      int(players.iloc[i,5])))
conn.commit()

IntegrityError: UNIQUE constraint failed: Eagles.back_no

# <span style='color:teal'>6. 연결 닫기</span>

In [ ]:
conn.close()

# <span style='color:teal'>7. 테이블 삭제</span>

In [ ]:
cur = conn.cursor()
cur.execute('DROP TABLE Eagles')

# <span style='color:teal'>8. 데이터 조회</span>

In [9]:
# 순회 조회
cur = conn.cursor()
cur.execute('SELECT * FROM Eagles')
for row in cur:
    print(row)
# cur안의 데이터를 row로 하나씩 print
# tuple로 읽혀진다.

(1, '하주석', '내야수', '우투좌타', '신일고', 184)
(28, '양성우', '외야수', '우투좌타', '충암고', 177)
(17, "'김범수'", "'투수'", "'좌투좌타'", "'천안북일고'", 181)
(38, "'안영명'", "'투수'", "'우투우타'", "'천안북일고'", 183)
(36, "'장민재'", "'투수'", "'우투우타'", "'광주제일고'", 184)
(13, "'최재훈'", "'포수'", "'우투우타'", "'덕수고'", 178)
(52, "'김태균'", "'내야수'", "'우투우타'", "'천안북일고'", 185)
(7, "'송광민'", "'내야수'", "'우투우타'", "'공주고'", 184)
(50, "'이성열'", "'내야수'", "'우투좌타'", "'순천효고'", 185)
(43, "'정은원'", "'내야수'", "'우투좌타'", "'인천고'", 177)
(8, "'정근우'", "'외야수'", "'우투우타'", "'부산고'", 172)
(30, "'호잉'", "'외야수'", "'우투좌타'", "'외국고'", 190)