In [14]:
import sqlite3

# <span style='color:teal'> [문제 1] </span>
투수들의 기록중에서 평균자책점(ERA), 투구인닝(IP), 탈삼진(SO) 기록을 찾아서 Pitcher_stats 란 테이블을 만들고, Eagles 테이블과 Join 하여백넘버, 선수명, 포지션, 투구인닝, 평균자책점, 탈삼진 필드를 갖는 데이터 프레임을 만들어서Join 한 결과를 입력하고, 그 결과를 보이시오.

In [15]:
conn = sqlite3.connect('./test.db')

### **1. Eagles 테이블 만들기**

In [16]:
# 1  =============================================================================
cur = conn.cursor() 
cur.execute('CREATE TABLE IF NOT EXISTS Eagles \
    (back_no INT NOT NULL, \
     name TEXT, \
     position TEXT, \
     hands TEXT, \
     highschool TEXT, \
     height INT, \
     PRIMARY KEY(back_no));')

In [17]:
cur = conn.cursor()
cur.execute("INSERT INTO Eagles VALUES \
    (1, '하주석', '내야수', '우투좌타', '신일고', 184), \
    (28, '양성우', '외야수', '우투좌타', '충암고', 177);")

In [18]:
conn.commit()

In [19]:
import pandas as pd
players = pd.read_csv('./players.csv', encoding='EUC-KR')
players

   back_no name position hands highschool  height
0       17  김범수       투수  좌투좌타      천안북일고     181
1       38  안영명       투수  우투우타      천안북일고     183
2       36  장민재       투수  우투우타      광주제일고     184
3       13  최재훈       포수  우투우타        덕수고     178
4       52  김태균      내야수  우투우타      천안북일고     185
5        7  송광민      내야수  우투우타        공주고     184
6       50  이성열      내야수  우투좌타       순천효고     185
7       43  정은원      내야수  우투좌타        인천고     177
8        8  정근우      외야수  우투우타        부산고     172
9       30   호잉      외야수  우투좌타        외국고     190

In [20]:
# 4  =============================================================================
cur = conn.cursor()
sql = 'INSERT INTO Eagles VALUES (?, ?, ?, ?, ?, ?);'
# 밑에 sql의 자리에 그대로 넣어도 되지만 보통은 이렇게 따로 만들어서 해놓는다.
# 프로그램에서 물음표 값을 채워넣는다.

for i in range(10):
    cur.execute(sql, (int(players.iloc[i,0]), 
                      players.iloc[i,1], players.iloc[i,2], 
                      players.iloc[i,3], players.iloc[i,4], 
                      int(players.iloc[i,5])))
conn.commit()

cur = conn.cursor()
cur.execute('SELECT * FROM Eagles')

for row in cur:
    print(row)

(1, '하주석', '내야수', '우투좌타', '신일고', 184)
(28, '양성우', '외야수', '우투좌타', '충암고', 177)
(17, '김범수', '투수', '좌투좌타', '천안북일고', 181)
(38, '안영명', '투수', '우투우타', '천안북일고', 183)
(36, '장민재', '투수', '우투우타', '광주제일고', 184)
(13, '최재훈', '포수', '우투우타', '덕수고', 178)
(52, '김태균', '내야수', '우투우타', '천안북일고', 185)
(7, '송광민', '내야수', '우투우타', '공주고', 184)
(50, '이성열', '내야수', '우투좌타', '순천효고', 185)
(43, '정은원', '내야수', '우투좌타', '인천고', 177)
(8, '정근우', '외야수', '우투우타', '부산고', 172)
(30, '호잉', '외야수', '우투좌타', '외국고', 190)

### **2. Pitcher 테이블 만들기**

In [21]:
# 1  =============================================================================
cur = conn.cursor()
cur.execute('CREATE TABLE IF NOT EXISTS Pitcher \
    (id INT NOT NULL, \
     player TEXT, \
     ERA REAL, \
     IP INT, \
     SO INT, \
     PRIMARY KEY(id));')

# 2  =============================================================================
Pitcher = pd.read_csv('./Pitcher.csv',encoding='EUC-KR')
Pitcher

  player  \tERA  \tIP  \tSO
0    김범수   5.67    81    65
1    안영명   3.43    44    35
2    장민재   4.81    91    84

In [22]:
# 3  =============================================================================
cur = conn.cursor()
sql = 'INSERT INTO Pitcher VALUES (?, ?, ?, ?, ?);'

for i in range(3):
    cur.execute(sql, (i+1,
                      Pitcher.iloc[i,0],
                      float(Pitcher.iloc[i,1]),
                      int(Pitcher.iloc[i,2]),
                      int(Pitcher.iloc[i,3])))
conn.commit()
 
# 4  =============================================================================
cur = conn.cursor()
cur.execute('SELECT * FROM Pitcher')

for row in cur:
    print(row)

(1, '김범수', 5.67, 81, 65)
(2, '안영명', 3.43, 44, 35)
(3, '장민재', 4.81, 91, 84)

### **3. join하기**

In [27]:
# 1. =============================================================================
sql = "SELECT e.back_no, e.name, e.position, \
        p.IP, p.ERA, p.SO \
        FROM Eagles AS e JOIN Pitcher AS p \
        ON e.name like p.player;"
    
cur = conn.cursor()
cur.execute(sql)
rows = cur.fetchall();


# 7.  =============================================================================
columnName = ['등번호','선수명','포지션','투구인닝','평균자책점','탈삼진']
eagles_df = pd.DataFrame(columns = columnName) 

for row in rows: #row는 tuple 하나씩이다
    eagles_df = eagles_df.append(pd.DataFrame( [list(row)], columns = columnName ),
                                 ignore_index=True)
eagles_df

  등번호  선수명 포지션 투구인닝  평균자책점 탈삼진
0  17  김범수  투수   81   5.67  65
1  38  안영명  투수   44   3.43  35
2  36  장민재  투수   91   4.81  84

# <span style='color:teal'> [문제 2] </span>

# <span style='color:teal'> [문제 3] </span>