In [48]:
import sqlite3

In [49]:
conn = sqlite3.connect(":memory:")
conn = sqlite3.connect('./test.db') 
conn.commit()

- **테이블 생성**

In [53]:
cur = conn.cursor()
cur.execute("CREATE TABLE IF NOT EXISTS Eagles \
                (back_no INT NOT NULL,  \
                 name TEXT,  \
                 position TEXT,  \
                 hands TEXT,  \
                 highschool TEXT,  \
                 height INT,  \
                 PRIMARY KEY(back_no));")

OperationalError: database is locked

- **데이터 삽입**

In [ ]:
cur = conn.cursor()
cur.execute("INSERT INTO Eagles VALUES(1,'하주석','내야수','우투좌타','신일고',184);")

In [35]:
conn.commit()

In [46]:
import pandas as pd
players = read_csv('./players.csv',encoding='EUC-KR')
players

NameError: name 'read_csv' is not defined

In [ ]:
players

In [ ]:
cur = conn.cursor()
sql = 'INSERT INTO Eagles VALUES (?,?,?,?,?,?);'
for i in range(10):
    cur.execute(sql, (players.iloc[i,0],
                      players.iloc[i,1],
                      players.iloc[i,2], 
                      players.iloc[i,3], 
                      players.iloc[i,4], 
                      players.iloc[i,5],))
conn.commit()